html{
  background: url("/src/pictures/pozadina.png");
}

.kontenjer{
  width: 100%;
  text-align: center;
}

#canvas {
  background-color: white;
}

.gameHeader {
  font-family: "Sedgwick Ave", cursive;
  color: white;
  font-size: 30px;
}

.karticaIgre{
  display: inline-block;
  width: 40%;
  padding: 20px;
}

.link{
  color: white;
}

.podnaslov{
  font-family: sans-serif;
  color: white;
}

.slika{
  color: white;
  width: 256px;
  height: 256px;
  border-radius: 20px;
  border: solid 1px white;
}

.futer{
  margin-top: 20px;
  color: white;
}

.link2:hover {
  cursor: pointer;
  text-decoration: underline;
}